<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title>Login</title>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

</head>
<body>
	<section id="login">
		<div class="container">
			<div class="row justify-content-center align-items-center">
				<div class="col-md-8">
					<div class="card m-5">
						<div class="card-body">
							<div style="height: 220px;" class="text-center">
								<h3>Your Registered Email!</h3>
								<br>
								<!-- Message -->
								<div th:if="${message}" th:classappend="${message.type}"
									class="alert ml-5 mr-5" style="height: 50px; padding: 10px;" role="alert">
									<p class="text-center" th:text="${message.content}"></p>
								</div>

								<form action="" th:action="@{/otpSend_Open_verification_form}"
									method="POST">
									<div class="form-group">
										<input name="email" type="email" class="form-control"
											placeholder="Enter your email here" required>
									</div>
									<button type="submit" class="btn btn-warning mt-3">Send
										OTP</button>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

</body>
</html>