<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title>Login</title>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

</head>
<body>
	<section>
		<div class="container">
			<div class="d-flex justify-content-center h-100">
				<div class="my-card">
					<div class="card-header">
						<h3 class="text-center text-white">Sign In</h3>

						<div th:if="${param.error}" class="alert alert-danger">
							Invalid Username and Password ..</div>
						<div th:if="${param.logout}"
							class="alert alert-danger text-center"
							style="width: 90%; margin: 0 auto; padding: 10px; font-size: 14px;">
							>You have been logged out ..</div>
					</div>
					<!-- Message -->
					<div th:if="${param.change}"
						class="alert alert-success text-center"
						style="width: 90%; margin: 0 auto; padding: 10px; font-size: 14px;">
						<p th:text="${param.change}"></p>
					</div>


					<div class="card-body">
						<form action="" th:action="@{/signin}" method="post">
							<div class="input-group form-group">
								<div class="input-group-prepend">
									<span class="input-group-text"><i class="fas fa-user"></i></span>
								</div>
								<label for="username" class="sr-only text-white">Username</label>
								<br> <input type="text" id="username" name="username"
									class="form-control" placeholder="Username" required autofocus>
							</div>
							<div class="input-group form-group">
								<div class="input-group-prepend">
									<span class="input-group-text"><i class="fas fa-key"></i></span>
								</div>
								<label for="password" class="sr-only">Password</label> <input
									type="password" id="password" name="password"
									class="form-control" placeholder="Password" required>
							</div>
							<div class="row align-items-center remember">
								<input type="checkbox" name="remember"> Remember Me
							</div>
							<div class="form-group">
								<button type="submit" class="btn float-right login_btn">Login</button>
							</div>
						</form>
					</div>
					<div class="card-footer mt-3">
						<div class="d-flex justify-content-center links">
							Don't have an account? <a href="/signup"> Sign Up</a>
						</div>
						<div class="d-flex justify-content-center">
							<a href="/forgot_password_form">Forgot your password?</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>